@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../../static/assets/background.png');
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 112, 158, 0.25);
}

.container {
    margin-right: 35vw;
    border-left: 8px solid #4F86CE;
    height: 200px;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    flex-direction: column;

    h2 {
        font-size: 45px;
        color: white;
        margin: 0;
        text-shadow: 1px 1px #000000;
    }
    p {
        color: #DADADA;
        font-size: 22px;
        text-shadow: 1px 1px #333333;
    }
    button {
        width: 90px;
        background-color: #3E7BE5;
        border: 1px solid #3E7BE5;
        padding: 7px 12px;
        font-size: 18px;
        color: white;
        border-radius: 8px;
    }
    button:hover {
        background-color: #3E9CE5;
    }
}
