<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/invite.css">
    <title>Not whitelisted!</title>
</head>
<body>
    <main>
        <div class="container">
            <div>
                <h2>Not whitelisted</h2>
                <p>You need to be whitelisted to invite AQue</p>
            </div>

            <button>Support</button>
        </div>
    </main>
</body>
</html>
