<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/invite.css">
    <title>Not whitelisted!</title>
</head>
<body>
    <main>
        <div class="container">
            <div>
                <h2>Invited!</h2>
                <p>Ping @Epic#6666 in the support server for bot permissions</p>
            </div>

            <button onclick="window.location.href='{{ env['DISCORD'] }}'">Support</button>
        </div>
    </main>
</body>
</html>
